# {{ ansible_managed }}
{{ mytest }}
{{ physical_interfaces }}

{% raw %}
# The loopback network interface
auto lo
iface lo inet loopback

{% for ifc in  {{ physical_interfaces }}  %}

auto {{ ifc.name }}
{% if ifc.address %}
iface {{ ifc.name }} inet static
    hwaddress ether {{ ifc.hwaddress }}
    address {{ ifc.address }}
    netmask {{ ifc.netmask }}
    broadcast {{ ifc.broadcast }}
{% if ifc.gateway %}
    gateway {{ ifc.gateway }}
{% endif %}
{% if ifc.dns %}
    dns-nameservers {{ ifc.dns }}
{% endif %}
{% endif %}
{% if not ifc.address %}
iface {{ ifc.name }} inet manual
{% endif %}
{% if  ifc.part_of_vlan %}
	vlan-raw-device {{ ifc.parent_name }}
{% endif %}

{% endfor %}

#{% for ifc in {{ physical_interfaces }} %}

#{% endfor %}

{% endraw %}
