# {{ ansible_managed }}
{#{{ network_interfaces }} #}

{% for hst in  network_interfaces %}
	list of hosts are  {{ hst }}
	ansible hostname {{ ansible_hostname}}

	{#% if hst==ansible_hostname %#}
	#{#success matched hostname with ansible hostname #}

		{% for pi in hst %}
			{{ pi['description'] }} 
		{% endfor %}
 
	{#% endif %#}
{% endfor %}
