# {{ ansible_managed }}
{#{{ network_interfaces }} #}

{% for pi in  network_interfaces %}
	
	This interface was is meant for host {{ pi.forHost }}
	ansible hostname {{ ansible_hostname}}

	{% if pi.forHost==ansible_hostname %}
	#{success matched hostname with ansible hostname }

		
			{{ pi.description }}
			{{ pi.name }}  
		
 
	{% endif %}
{% endfor %}
